@font-face {
  font-family: TT Lakes serif;
  src: url(./fonts/TTLakesMedium.ttf);
}
html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 0 0 0;
  overflow-x: hidden;
  font-family: TT Lakes serif;
  background: #F8F8F8;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .main-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn__position_price {
  position: absolute;
  top: 160px;
  left: 130px;
}

.btn__buy {
  width: 119px;
  height: 32px;
  background: url(./static/button.svg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
}
@media (min-width: 768px) {
  .btn__buy {
    position: relative;
    top: 0;
    left: 0;
  }
}
.btn__buy:hover {
  cursor: pointer;
}

.text__color {
  color: #FF3E79;
}

.modal {
  height: 100%;
  display: none;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: hidden;
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.9);
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  float: right;
  padding: 20px;
  box-shadow: -2px 3px 10px 2px rgba(34, 60, 80, 0.2);
  width: 320px;
  height: 100%;
}
@media (min-width: 768px) {
  .modal__content {
    width: 440px;
  }
}

.modal__text-container {
  display: flex;
}

.left-h__modal {
  position: relative;
  left: -20px;
  top: 0;
}

.modal__text {
  font-size: 24px;
  font-weight: bold;
}

.modal__info {
  font-size: 14px;
}

.modal__area-input {
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
}
.modal__area-input::-webkit-input-placeholder {
  font-family: TT Lakes serif;
}
.modal__area-input::-moz-placeholder {
  font-family: TT Lakes serif;
}
.modal__area-input:-ms-input-placeholder {
  font-family: TT Lakes serif;
}
.modal__area-input::placeholder {
  font-family: TT Lakes serif;
}

.area-input__size {
  height: 48px;
  width: 288px;
}
@media (min-width: 768px) {
  .area-input__size {
    width: 376px;
  }
}

.area-textarea__size {
  width: 288px;
  padding: 20px 0 0 20px;
}
@media (min-width: 768px) {
  .area-textarea__size {
    width: 376px;
  }
}

@media (min-width: 768px) {
  .btn__back {
    position: absolute;
    left: -70px;
  }
}

@media (min-width: 768px) {
  .swiper-wrapper {
    flex-wrap: wrap;
  }
}

.swiper-pagination {
  margin: 0 0 -16px 0;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination-bullet {
  background: #B5B6BC;
  margin-left: 16px;
  width: 12px;
  height: 12px;
}

.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
@media (min-width: 1440px) {
  .header__name {
    top: 25px;
    position: absolute;
    padding: 10px;
  }
}

.header__first_points, .header__second-points {
  display: flex;
  align-items: center;
}

.header__second-points {
  overflow: scroll;
  width: 120px;
  padding: 15px 0 0 0;
}
@media (min-width: 768px) {
  .header__second-points {
    overflow: auto;
    width: 100%;
    justify-content: flex-end;
  }
}

.header__first_points .header__divider {
  display: block;
  order: 3;
}
@media (min-width: 768px) {
  .header__first_points .header__divider {
    display: block;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .header__first_points .header__divider {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem1 {
    order: 1;
  }
}
@media (min-width: 1440px) {
  .header__elem1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem2 {
    order: 2;
  }
}

.header__elem1, .header__elem2, .header__elem3,
.header__elem4, .header__elem5, .header__elem7,
.header__elem8, .header__divider {
  margin: 0 8px 0 8px;
}

@media (min-width: 1440px) {
  .header__elem2, .header__divider {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem3 {
    display: block;
    margin-left: 16px;
  }
}
@media (min-width: 1440px) {
  .header__elem3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem4 {
    display: block;
    margin-left: 16px;
  }
}
@media (min-width: 1440px) {
  .header__elem4 {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__elem5 {
    display: block;
    margin-left: 16px;
  }
}
@media (min-width: 1440px) {
  .header__elem5 {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header__elem7 a, .header__elem8 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
  }
}
.header__elem7 p, .header__elem8 p {
  display: none;
}
@media (min-width: 1440px) {
  .header__elem7 p, .header__elem8 p {
    display: block;
    letter-spacing: -0.2px;
    padding-right: 8px;
  }
}

.header__nleft {
  position: absolute;
  left: 0;
  z-index: 0;
}

.header__text {
  font-size: 14px;
  padding: 0 0 0 16px;
}

.micro-menu__container {
  display: flex;
  flex-flow: row nowrap;
  background: #F8F8F8;
  overflow: scroll;
  align-items: center;
  padding: 0 0 0 16px;
  width: 1439px;
}
@media (min-width: 1440px) {
  .micro-menu__container {
    flex-wrap: wrap;
    width: 100%;
  }
}

.micro-menu__container * {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 40px;
  width: 246px;
  padding: 0;
}
@media (min-width: 768px) {
  .micro-menu__container * {
    width: 248px;
  }
}
@media (min-width: 1440px) {
  .micro-menu__container * {
    width: 233px;
  }
}
.micro-menu__container *:hover {
  cursor: pointer;
}

.micro-menu--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.content__container {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .content__container {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.content__info {
  width: 288px;
  margin: 0 0 0 16px;
  color: #1B1C21;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .content__info {
    width: 312px;
    line-height: 20px;
    margin-left: 24px;
  }
}
@media (min-width: 1440px) {
  .content__info {
    width: 490px;
    height: 160px;
    margin-left: 32px;
  }
}
.content__info p {
  margin-bottom: 0;
}

.content__button-more-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 8px;
  color: black;
}
@media (min-width: 768px) {
  .content__button-more-info {
    margin: 10px 9px;
  }
}
@media (min-width: 1440px) {
  .content__button-more-info {
    margin: 14px 6px;
  }
}
.content__button-more-info a {
  padding-left: 10px;
}

.info__p2 {
  display: none;
}

.info__show {
  display: block;
}

@media (min-width: 768px) {
  .content__image {
    width: 360px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 22px;
    border: 0 solid;
    border-radius: 6px;
  }
}
@media (min-width: 1440px) {
  .content__image {
    width: 530px;
    margin-top: 0;
  }
}

.burger__container {
  z-index: 5;
  top: 0;
  left: 0;
  background: white;
  position: absolute;
  display: none;
  padding: 0 24px;
  width: 320px;
  box-shadow: 23px 0 25px 0 rgba(34, 60, 80, 0.28);
}
@media (min-width: 1440px) {
  .burger__container {
    display: inline;
    position: relative;
    box-shadow: none;
  }
}

.burger__container_active {
  display: block;
}

.burger-menu__header ul {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-menu__header ul li:nth-child(1) {
  position: relative;
  left: -20px;
}
.burger-menu__header ul li:nth-child(2) {
  position: relative;
  left: -40px;
}
@media (min-width: 1440px) {
  .burger-menu__header ul li:nth-child(2) {
    left: -60px;
  }
}
.burger-menu__header ul li a {
  display: block;
  margin: 20px;
}

@media (min-width: 1440px) {
  .burger-menu__btn-back {
    display: none;
  }
}

.burger-menu__list ul li {
  margin: 32px 0;
}
.burger-menu__list ul li a:hover {
  transition: 1s;
  color: #7E7E82;
  transform: scale(1.1);
}
.burger-menu__list ul li img {
  position: absolute;
  left: 0;
  top: 120px;
}

.menu__list_active {
  color: #7E7E82;
}

.burger-menu__buttons ul {
  margin-top: 260px;
  display: flex;
  justify-content: flex-start;
}
.burger-menu__buttons ul li {
  margin-right: 16px;
}

.burger-menu__info {
  margin-bottom: 40px;
}

.lang-change {
  margin: 0 0 40px 0;
}
.lang-change ul li {
  display: inline-block;
}

.brands-menu__title {
  position: relative;
  height: 80px;
  margin: 16px 0 0 0;
  padding: 0 0 0 20px;
  background: white;
  color: #7E7E82;
  border-top: 1px solid #B8FFEC;
}
@media (min-width: 768px) {
  .brands-menu__title {
    min-width: 700px;
    height: 56px;
  }
}
.brands-menu__title p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.brands-menu__brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 0;
  padding: 16px 0 0 16px;
  list-style: none;
  width: 100%;
}
@media (min-width: 768px) {
  .brands-menu__brands {
    padding-top: 24px;
    max-width: 900px;
  }
}
@media (min-width: 1440px) {
  .brands-menu__brands {
    max-width: 1200px;
  }
}

.brand-1, .brand-2, .brand-3,
.brand-4, .brand-5, .brand-6,
.brand-7, .brand-8, .brand-9,
.brand-10, .brand-11 {
  border: 0 solid #EAEAEA;
  border-radius: 5%;
  margin: 0 0 20px 0;
  width: 240px;
}
@media (min-width: 768px) {
  .brand-1, .brand-2, .brand-3,
.brand-4, .brand-5, .brand-6,
.brand-7, .brand-8, .brand-9,
.brand-10, .brand-11 {
    height: 72px;
    background: #F8F8F8;
    margin-right: 24px;
  }
}
@media (min-width: 1440px) {
  .brand-1, .brand-2, .brand-3,
.brand-4, .brand-5, .brand-6,
.brand-7, .brand-8, .brand-9,
.brand-10, .brand-11 {
    margin-right: 32px;
  }
}
.brand-1:hover, .brand-2:hover, .brand-3:hover,
.brand-4:hover, .brand-5:hover, .brand-6:hover,
.brand-7:hover, .brand-8:hover, .brand-9:hover,
.brand-10:hover, .brand-11:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .brand-4, .brand-8,
.brand-9, .brand-10, .brand-11 {
    display: none;
  }
}

@media (min-width: 1440px) {
  .brand-4, .brand-8 {
    display: inline;
  }
}

@media (min-width: 768px) {
  .brand-9, .brand-10, .brand-11 {
    display: none;
  }
}

.brands-menu__show-all {
  display: none;
  margin: 0 0 0 32px;
}
@media (min-width: 768px) {
  .brands-menu__show-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.brands-menu__show-all:hover {
  cursor: pointer;
}
.brands-menu__show-all p {
  margin: 0 0 0 8px;
}

.view-tech-menu__title {
  position: relative;
  height: 80px;
  margin: 16px 0 0 0;
  padding: 0 0 0 20px;
  background: white;
  color: #7E7E82;
  border-top: 1px solid #B8FFEC;
}
@media (min-width: 768px) {
  .view-tech-menu__title {
    min-width: 700px;
    height: 56px;
  }
}
.view-tech-menu__title p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.view-tech-menu__cases {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px 32px 0 16px;
  list-style: none;
}
@media (min-width: 768px) {
  .view-tech-menu__cases {
    padding-top: 24px;
  }
}

@media (min-width: 768px) {
  .view-tech__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

.view-tech__case-1, .view-tech__case-2, .view-tech__case-3,
.view-tech__case-4 {
  width: 240px;
  height: 160px;
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .view-tech__case-1, .view-tech__case-2, .view-tech__case-3,
.view-tech__case-4 {
    height: 72px;
    margin: 0 0 124px 0;
  }
}
@media (min-width: 1440px) {
  .view-tech__case-1, .view-tech__case-2, .view-tech__case-3,
.view-tech__case-4 {
    margin-right: 32px;
  }
}
.view-tech__case-1 .view-tech__elem, .view-tech__case-2 .view-tech__elem, .view-tech__case-3 .view-tech__elem,
.view-tech__case-4 .view-tech__elem {
  width: 240px;
  background: white;
  height: 160px;
  border: 2px solid #EAEAEA;
  border-radius: 5%;
  margin: 0 10px 0 0;
}
.view-tech__case-1 p, .view-tech__case-2 p, .view-tech__case-3 p,
.view-tech__case-4 p {
  position: absolute;
  left: 15px;
}
.view-tech__case-1 img, .view-tech__case-2 img, .view-tech__case-3 img,
.view-tech__case-4 img {
  position: absolute;
  top: 110px;
  left: 174px;
}
.view-tech__case-1 img:hover, .view-tech__case-2 img:hover, .view-tech__case-3 img:hover,
.view-tech__case-4 img:hover {
  cursor: pointer;
}
.view-tech__case-1:hover, .view-tech__case-2:hover, .view-tech__case-3:hover,
.view-tech__case-4:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .view-tech__case-4 {
    display: none;
  }
}
@media (min-width: 1440px) {
  .view-tech__case-4 {
    display: block;
  }
}

.view-tech-menu__show-all {
  display: none;
  margin: 0 0 0 32px;
}
@media (min-width: 768px) {
  .view-tech-menu__show-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.view-tech-menu__show-all:hover {
  cursor: pointer;
}
.view-tech-menu__show-all p {
  margin: 0 0 0 8px;
}

.price-menu__container {
  min-height: 234px;
  min-width: 320px;
}
@media (min-width: 768px) {
  .price-menu__container {
    display: none;
  }
}
@media (min-width: 1440px) {
  .price-menu__container {
    max-width: 1440px;
  }
}

.price-menu__title {
  position: relative;
  height: 56px;
  margin: 16px 0 0 0;
  padding: 0 0 0 20px;
  background: white;
  color: #7E7E82;
  border-top: 1px solid #B8FFEC;
}
@media (min-width: 768px) {
  .price-menu__title {
    min-width: 700px;
    height: 56px;
  }
}
.price-menu__title p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.price-menu__cases {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 16px 16px 0 16px;
  list-style: none;
}
@media (min-width: 768px) {
  .price-menu__cases {
    padding-top: 24px;
  }
}
.price-menu__cases .price__name {
  line-height: 0;
  color: #7E7E82;
  position: relative;
  left: 10px;
}
.price-menu__cases .price__text {
  width: 240px;
  height: 30px;
  padding: 0 0 10px 0;
  position: relative;
  left: 10px;
  top: -5px;
}

.price__case-1, .price__case-2, .price__case-3,
.price__case-4, .price__case-5 {
  margin: 0 0 24px 0;
}
@media (min-width: 768px) {
  .price__case-1, .price__case-2, .price__case-3,
.price__case-4, .price__case-5 {
    height: 72px;
    margin-right: 24px;
  }
}
@media (min-width: 1440px) {
  .price__case-1, .price__case-2, .price__case-3,
.price__case-4, .price__case-5 {
    margin-right: 32px;
  }
}
.price__case-1 .price__elem, .price__case-2 .price__elem, .price__case-3 .price__elem,
.price__case-4 .price__elem, .price__case-5 .price__elem {
  width: 260px;
  background: white;
  height: 200px;
  border: 2px solid #EAEAEA;
  border-radius: 5%;
  margin: 0 32px 0 0;
}
.price__case-1:hover, .price__case-2:hover, .price__case-3:hover,
.price__case-4:hover, .price__case-5:hover {
  cursor: pointer;
}

.price-menu__table {
  display: none;
}
@media (min-width: 768px) {
  .price-menu__table {
    display: block;
    text-align: left;
    margin: 12px 24px 0 24px;
    border-radius: 6px;
    border: 0 solid;
    padding: 0 20px;
    background: white;
  }
}

.price_menu__head {
  background: #F8F8F8;
  height: 64px;
}

.price__table {
  border-collapse: collapse;
  width: 100%;
}

.price-menu__nameplate {
  color: #7E7E82;
}

.table__font {
  font-weight: 100;
}

.table__row {
  height: 64px;
  border-bottom: 1px solid #EAEAEA;
}
.table__row:nth-child(5) {
  border: none;
}

.down-info {
  padding: 0 16px 32px 16px;
}

.down-info__link a {
  display: flex;
  align-content: center;
}
.down-info__link a p {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}
.down-info__link a p img {
  vertical-align: middle;
}

.footer__text {
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #D9FFF5;
}
@media (min-width: 768px) {
  .footer__text {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
  }
}
.footer__text p {
  text-align: center;
  color: #7E7E82;
  font-size: 14px;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .footer__text p {
    width: 33%;
  }
}

/*# sourceMappingURL=style.css.map*/