.content__container {
  display:flex;
  flex-direction: column;
  margin: 0 0 40px 0;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.content__info {
  width: 288px;
  margin: 0 0 0 16px;
  color: #1B1C21;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $screen-md) {
    width: 312px;
    line-height: 20px;
    margin-left: 24px;
  }

  @media (min-width: $screen-lg) {
    width: 490px;
    height: 160px;
    margin-left: 32px;
  }

  p {
    margin-bottom: 0;
  }
}

.content__button-more-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 8px;
  color: black;

  @media (min-width: $screen-md) {
    margin: 10px 9px;
  }

  @media (min-width: $screen-lg) {
    margin: 14px 6px;
  }

  a {
    padding-left: 10px;
  }
}

.info__p2 {
  display: none;
}

.info__show {
  display: block;
}

.content__image {
  @media (min-width: $screen-md) {
    width: 360px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 22px;
    border: 0 solid;
    border-radius: 6px;
  }

  @media (min-width: $screen-lg) {
    width: 530px;
    margin-top: 0;
  }
}

