.block-menu__container {
  min-height: 234px;
  min-width: 320px;
}

@media (min-width: 320px) {
  .block-menu__container {

  }
}

@media (min-width: 768px) {
  .block-menu__container {
    min-height: 322px;
    min-width: 768px;
  }
}

@media (min-width: 1120px) {
  .block-menu__container {
    max-width: 1120px;
  }
}

.title__menu p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@media (min-width: 320px) {
  .title__menu {
    width: 288px;
    position: relative;
    height: 80px;
    margin: 0 0 0 16px;
  }
}

@media (min-width: 768px) {
  .title__menu {
    min-width: 700px;
    height: 56px;
  }
}

.elements__menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 16px 16px 0 16px;
  list-style: none;
}

@media (min-width: 768px) {
  .elements__menu{
    padding-top: 24px;
  }
}

@media (min-width: 1120px) {
  .elements__menu{

  }
}

.elem__menu1, .elem__menu2, .elem__menu3,
.elem__menu4, .elem__menu5, .elem__menu6,
.elem__menu7, .elem__menu8, .elem__menu9, .elem__menu10, .elem__menu11 {
  border: 0 solid #EAEAEA;
  border-radius: 5%;
  margin: 0 0 16px 0;
  width: 240px;
}

.elem__menu1:hover, .elem__menu2:hover, .elem__menu3:hover,
.elem__menu4:hover, .elem__menu5:hover, .elem__menu6:hover,
.elem__menu7:hover, .elem__menu8:hover, .elem__menu9:hover, .elem__menu10:hover, .elem__menu11:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .elem__menu1, .elem__menu2, .elem__menu3,
  .elem__menu4, .elem__menu5, .elem__menu6,
  .elem__menu7, .elem__menu8, .elem__menu9, .elem__menu10, .elem__menu11 {
    height: 72px;
    background: white;
    margin-right: 24px;
  }
  .elem__menu4, .elem__menu8,
  .elem__menu9, .elem__menu10, .elem__menu11{
    display: none;
  }
}

@media (min-width: 1120px) {
  .elem__menu1, .elem__menu2, .elem__menu3,
  .elem__menu4, .elem__menu5, .elem__menu6,
  .elem__menu7, .elem__menu8, .elem__menu9, .elem__menu10, .elem__menu11 {
    margin-right: 32px;
  }
  .elem__menu4, .elem__menu8{
    display: inline-block;
  }
  .elem__menu9, .elem__menu10, .elem__menu11 {
    display: none;
  }
}

.menu__show-all{
  display: none;
  margin: 0 0 0 32px;
}

.menu__show-all:hover{
  cursor: pointer;
}

@media (min-width: 320px) {
  .menu__show-all{

  }
}

@media (min-width: 768px) {
  .menu__show-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.menu__show-all p {
  margin: 0 0 0 8px;
}
