ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
}

.container {

  @media (min-width: $screen-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main__content {
  @media (min-width: $screen-lg) {

  }
}
