.block-menu__container {
  min-height: 234px;
  margin: 0 0 0 16px;
  min-width: 320px;
}

@media (min-width: 320px) {
  .block-menu__container {

  }
}

@media (min-width: 768px) {
  .block-menu__container {
    min-height: 322px;
    min-width: 768px;
  }
}

@media (min-width: 1120px) {
  .block-menu__container {
    max-width: 1120px;
  }
}

.title__menu h3 {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
}

@media (min-width: 320px) {
  .title__menu {
    position: relative;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .title__menu {
    height: 56px;
  }
}

.elements__menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.elem__menu1, .elem__menu2, .elem__menu3,
.elem__menu4, .elem__menu5, .elem__menu6,
.elem__menu7, .elem__menu8, .elem__menu9, .elem__menu10, .elem__menu11 {
  border: 1px solid #EAEAEA;
  border-radius: 5%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .elem__menu1, .elem__menu2, .elem__menu3,
  .elem__menu4, .elem__menu5, .elem__menu6,
  .elem__menu7, .elem__menu8, .elem__menu9, .elem__menu10, .elem__menu11 {
    width: 240px;
    height: 72px;
    background: white;
  }
  .elem__menu4, .elem__menu8,
  .elem__menu9, .elem__menu10, .elem__menu11{
    display: none;
  }
}

@media (min-width: 1120px) {
  .elem__menu4, .elem__menu8{
    display: inline-block;
  }
  .elem__menu9, .elem__menu10, .elem__menu11 {
    display: none;
  }
}

.menu__show-all{
  display: none;
}

@media (min-width: 320px) {
  .menu__show-all{

  }
}

@media (min-width: 768px) {
  .menu__show-all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.menu__show-all p {
  margin-left: 8px;
}
