ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
}

.container {
  @media (min-width: $screen-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-content {
  @media (min-width: $screen-lg) and (max-width: 2560px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn__position_price {
  position: absolute;
  top: 160px;
  left: 130px;
}

.btn__buy {
  width: 119px;
  height: 32px;
  background: url("../img/helpers/button.svg");
  color: $color-blocks;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  @media (min-width: $screen-md) {
    position: relative;
    top: 0;
    left: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.text__color {
  color: $color-primary;
}
