.micro-menu__container {
  display: flex;
  flex-flow: row nowrap;
  background: $bg-color;
  overflow: scroll;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 16px;

}

.micro-menu__elem1, .micro-menu__elem2, .micro-menu__elem3,
.micro-menu__elem4, .micro-menu__elem5, .micro-menu__elem6,
.micro-menu__elem7 {
  font-size: 14px;
  text-align: center;
  min-width: 248px;

  p {
    margin: 9px 15px;
  }
}

.micro-menu__elem1 {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.micro-menu--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}
