.micro-menu__container {
  display: flex;
  flex-flow: row nowrap;
  background: $color-background;
  overflow: scroll;
  align-items: center;
  padding: 0 0 0 16px;
  width: 1439px;

  @media (min-width: $screen-lg) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.micro-menu__container * {
  display: flex;
  flex-flow:nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 40px;
  width: 246px;
  padding: 0;

  @media (min-width: $screen-md) {
    width: 248px;
  }

  @media (min-width: $screen-lg) {
    width: 233px;
  }

  &:hover {
    cursor: pointer;
  }
}

.micro-menu--active {
  border: 2px solid $color-second;
  border-radius: 6px;
}
