.price-menu__container {
  min-height: 234px;
  min-width: 320px;

  @media (min-width: $screen-md) {
    min-height: 322px;
    min-width: 768px;
  }

  @media (min-width: $screen-lg) {
    max-width: $screen-lg;
  }
}

.price-menu__title {
  position: relative;
  height: 56px;
  margin: 16px 0 0 0;
  padding: 0 0 0 20px;
  background: white;
  color:$text-footer;
  border-top: 1px solid #B8FFEC;

  @media (min-width: $screen-md) {
    min-width: 700px;
    height: 56px;
  }

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.price-menu__cases{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 16px 16px 0 16px;
  list-style: none;

  @media (min-width: $screen-md) {
    padding-top: 24px;
  }

  .name_p {

    line-height:0;
    color: #7E7E82;
    position: relative;
    left: 10px;
  }

  .text_p {
    width: 240px;
    height: 30px;
    padding: 0 0 10px 0;
    position: relative;
    left: 10px;
    top: -5px;
  }

  .btn__buy {
    border: 2px solid black;
    border-radius: 15%;
    position: absolute;
    top: 160px;
    left: 180px;
    width: 50px;

  }
}

.price__case-1, .price__case-2, .price__case-3,
.price__case-4, .price__case-5 {
  margin: 0 0 24px 0;

  @media (min-width: $screen-md) {
    height: 72px;
    margin-right: 24px;
  }

  @media (min-width: $screen-lg) {
    margin-right: 32px;
  }

  .price__elem {
    width: 260px;
    background: white;
    height: 200px;
    border: 2px solid #EAEAEA;
    border-radius: 5%;
    margin: 0 32px 0 0;

  }

  &:hover {
    cursor: pointer;
  }
}

