.swiper-wrapper{
  @media (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.swiper-pagination{
  margin: 0 0 -16px 0;
}

.swiper-pagination{
  @media (min-width: 768px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  background: #B5B6BC;
  margin-left: 16px;
  width: 12px;
  height: 12px;
}


