$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1440px;

$font-main: TT Lakes serif;

$color-primary: #FF3E79;
$color-active: #7E7E82;
$color-background: #F8F8F8;
$color-second: #B8FFEC;
$color-borders: #D9FFF5;
$color-area-text: #EAEAEA;
$color-swiper-pagination: #B5B6BC;
$color-blocks: white;

